In [1]:
import pandas as pd

In [9]:
pd.__version__

'0.20.1'

In [2]:
df = pd.DataFrame({'country': ['russia', 'germany', 'australia','korea','germany']})
df

     country
0     russia
1    germany
2  australia
3      korea
4    germany

In [6]:
pd.get_dummies(df,prefix=['country'],drop_first=True)

   country_germany  country_korea  country_russia
0                0              0               1
1                1              0               0
2                0              0               0
3                0              1               0
4                1              0               0

In [7]:
df["country"] = df["country"].astype('category',categories=["australia","germany","korea","russia","japan"])

In [8]:
pd.get_dummies(df,prefix=['country'])

,country_australia,country_germany,country_korea,country_russia,country_japan
0,0,0,0,1,0
1,0,1,0,0,0
2,1,0,0,0,0
3,0,0,1,0,0
4,0,1,0,0,0