In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.20.1'

In [3]:
df = pd.DataFrame({'country': ['russia', 'germany', 'australia','korea','germany']})
df

     country
0     russia
1    germany
2  australia
3      korea
4    germany

In [4]:
pd.get_dummies(df,prefix=['country'],drop_first=True)

   country_germany  country_korea  country_russia
0                0              0               1
1                1              0               0
2                0              0               0
3                0              1               0
4                1              0               0

In [5]:
df["country"] = df["country"].astype('category',categories=["australia","germany","korea","russia","japan"])

In [6]:
pd.get_dummies(df,prefix=['country'])

,country_australia,country_germany,country_korea,country_russia,country_japan
0,0,0,0,1,0
1,0,1,0,0,0
2,1,0,0,0,0
3,0,0,1,0,0
4,0,1,0,0,0

## what about nans

In [7]:
import numpy as np

In [23]:
df = pd.DataFrame({
    'country': ['germany',np.nan,'germany','united kingdom','america','united kingdom']
})
df

          country
0         germany
1             NaN
2         germany
3  united kingdom
4         america
5  united kingdom

In [12]:
pd.get_dummies(df,dummy_na=True)

   id  country_america  country_germany  country_uk  country_nan
0   0                0                1           0            0
1   1                0                0           0            1
2   2                0                1           0            0
3   3                0                0           1            0
4   4                1                0           0            0
5   5                0                0           1            0

## one-hot encode a single column

In [26]:
df = pd.DataFrame({
    'has_dogs':[True,False,True,True,False,True],
    'country': ['germany',np.nan,'germany','united kingdom','america','united kingdom']
})

In [28]:
pd.get_dummies()

   False  True
0      0      1
1      1      0
2      0      1
3      0      1
4      1      0
5      0      1