In [1]:
import pandas as pd
import csv

In [33]:
df = pd.DataFrame({
    "num1":[222,333,444,555],
    "text":[
        'foo " bar baz',
        ' dasldf \n  \\" foo bar "  and more \\" foo bar "  dlasjdsaij',
        ' foo \n  \ bar C\\"" ',
        'foo \"" bar'
    ],
    "num":[1,2,3,4]
})

In [34]:
df.head()

   num1                                               text  num
0   222                                      foo " bar baz    1
1   333   dasldf \n  \" foo bar "  and more \" foo bar ...    2
2   444                                foo \n  \ bar C\""     3
3   555                                         foo "" bar    4

In [35]:
df.to_csv(
    "preproc.csv",
    quoting=csv.QUOTE_NONNUMERIC,
    escapechar="\\",
    doublequote=False,
    index=False)

In [36]:
df = pd.read_csv(
    "preproc.csv",
    escapechar="\\")

In [37]:
df.head()

   num1                                               text  num
0   222                                      foo " bar baz    1
1   333   dasldf \n  \ foo bar "  and more \" foo bar "...    2
2   444                                foo \n   bar C\\" "    3
3   555                                         foo "" bar    4