In [4]:
import pandas as pd

df = pd.read_csv("data.csv")

In [5]:
df

    name  age       state
0   john   23        iowa
1   mary   78          dc
2  peter   22  california
3   jeff   19       texas
4   bill   45  washington
5   lisa   33          dc