In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.24.1'

## create from lists

In [13]:
names = ['john','mary','peter']
ages = [33,22,45]

df = pd.DataFrame({
    'names':names,
    'ages':ages
})
df

   ages  names
0    33   john
1    22   mary
2    45  peter

## create from list of dicts

In [8]:
data_dict = [
    {'id':1,'name':"john"},
    {'id':2,'name':"mary"},
    {'id':3,'name':"peter"}
]

# must reassign since the append method does not work in place
df = pd.DataFrame.from_records(data_dict)
df

   id   name
0   1   john
1   2   mary
2   3  peter

## create an empty dataframe and append rows

In [12]:
df = pd.DataFrame()

# must reassign since the append method does not work in place
df = df.append({'col_a':5,'col_b':10}, ignore_index=True)
df = df.append({'col_a':1,'col_b':100}, ignore_index=True)

df

   col_a  col_b
0    5.0   10.0
1    1.0  100.0