In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.24.1'

## create from lists

In [14]:
names = ['john','mary','peter','gary','anne']
ages = [33,22,45,23,12]

df = pd.DataFrame({
    'names':names,
    'ages':ages
})
df

   ages  names
0    33   john
1    22   mary
2    45  peter
3    23   gary
4    12   anne

## create from list of dicts

In [17]:
data_dicts = [
    {'name':"john","gender":'male','age':45},
    {'name':"mary", 'gender':"female",'age':19},
    {'name':"peter",'gender':'male', 'age':34}
]

# must reassign since the append method does not work in place
df = pd.DataFrame.from_records(data_dicts)
df

   age  gender   name
0   45    male   john
1   19  female   mary
2   34    male  peter

## create an empty dataframe and append rows

In [18]:
df = pd.DataFrame()

# must reassign since the append method does not work in place
df = df.append({'col_a':5,'col_b':10}, ignore_index=True)
df = df.append({'col_a':1,'col_b':100}, ignore_index=True)
df = df.append({'col_a':32,'col_b':999}, ignore_index=True)

df

   col_a  col_b
0    5.0   10.0
1    1.0  100.0
2   32.0  999.0