In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    'user_id':[1,2,1,3,3,],
    'content_id':[1,1,2,2,2],
    'tag':['cool','nice','clever','clever','not-bad']
})
df

   content_id      tag  user_id
0           1     cool        1
1           1     nice        2
2           2   clever        1
3           2   clever        3
4           2  not-bad        3

In [11]:
df.groupby("content_id")['tag'].apply(lambda tags: ','.join(tags)).to_frame().reset_index()

   content_id                    tag
0           1              cool,nice
1           2  clever,clever,not-bad

In [18]:
df.groupby("content_id")["user_id"].nunique().to_frame().reset_index().rename(columns={"user_id":'unique_users'})

   content_id  unique_users
0           1             2
1           2             2