In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    'name':[
        'john','mary','peter','jeff','bill'
    ],
    'date_of_birth':[
        '2000-01-01', '1999-12-20', '2000-11-01', '1995-02-25', '1992-06-30',
    ],
})
df

  date_of_birth   name
0    2000-01-01   john
1    1999-12-20   mary
2    2000-11-01  peter
3    1995-02-25   jeff
4    1992-06-30   bill

In [3]:
df.index

RangeIndex(start=0, stop=5, step=1)

## use date column as index

In [4]:
datetime_series = pd.to_datetime(df['date_of_birth'])

datetime_index = pd.DatetimeIndex(datetime_series.values)

df2=df.set_index(datetime_index)

df2.drop('date_of_birth',axis=1,inplace=True)

df2

             name
2000-01-01   john
1999-12-20   mary
2000-11-01  peter
1995-02-25   jeff
1992-06-30   bill

In [8]:
df2.index

DatetimeIndex(['2000-01-01', '1999-12-20', '2000-11-01', '1995-02-25',
               '1992-06-30'],
              dtype='datetime64[ns]', freq=None)

In [6]:
datetime_index = pd.DatetimeIndex(df['date_of_birth'])

df3=df.set_index(datetime_index)
df3.index

DatetimeIndex(['2000-01-01', '1999-12-20', '2000-11-01', '1995-02-25',
               '1992-06-30'],
              dtype='datetime64[ns]', name='date_of_birth', freq=None)

In [7]:
df3.reset_index(drop='date_of_birth')

  date_of_birth   name
0    2000-01-01   john
1    1999-12-20   mary
2    2000-11-01  peter
3    1995-02-25   jeff
4    1992-06-30   bill