In [1]:
import pandas as pd
import numpy as np

In [1]:
pd.set_option('display.float_format', lambda x: '%8.2f' % x)
# pd.reset_option('display.float_format')

pd.DataFrame({
    "num":[0.0001, 10000000,100,0.5],
    "str":["foo","bar","baz","quux"]
})

          num   str
0        0.00   foo
1 10000000.00   bar
2      100.00   baz
3        0.50  quux

In [ ]:
pd.set_option('display.max_columns',100)
pd.set_option('display.max_rows',100)

# for text columns
pd.set_option('display.max_colwidth',500)
pd.set_option('display.html.use_mathjax',False)